to,university,cc,bcc
customer@example.com,XYZ University,,
primary@example.com,ABC Institute,manager@example.com,audit@example.com
"first@example.com; second@example.com",Example University,visible@example.com,"hidden-one@example.com; hidden-two@example.com"
